@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  margin:0;
  color: rgba(255,255,255, .99);
  font-family: Oxygen;
  background-color: white;
}

#screen {
  position: absolute;
  width: 23em;
  height: 39em;
  max-width: 100%;
  overflow-x: hidden;
}

input {
  position: absolute;
  visibility: hidden; 
}

#background {
  position: absolute;
  width: 102%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(3px);
  z-index: 0;
  border: 1px solid black;
  background: rgb(231, 229, 229);
}

label {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* .portrait {
  position: relative;
  float: left;
  
  height: 3em;
  width: 3em;
  
  border-radius: 50%;
  
  margin: 1.5em;
  
  background-size: cover;
} */
/* .portrait:after {
  content: ' ';
  position: absolute;
  top: -.3em;
  left: -.3em;
  
  height: 3.5em;
  width: 3.5em;
  
  border: 1px solid rgba(255,255,255, .5);
  border-radius: 50%;
  -webkit-transition: border .3s;
} */

.details {
  position: relative;
  float: left;
  top: 0;
  
  width: 55%;  
  margin: 1em 0 0 .75em;
  
  -webkit-transition: top .5s;
}

.name,
.description {
  position: relative;
  float: left;
  clear: left;
  margin: 0;
}

.name {
  font-size: 1.5em;
  font-weight: 300;
}
.description {
  font-size: .9em;
  color: rgba(0, 0, 0, 0.8);
}

.actions {
  position: absolute;
  top: 7em;
  
  width: 100%;
  color: #000;
  
}
.actions > div {
  font-family: Entypo;
  font-size: 2.1em;
  
  position: absolute;
  width: 25%;
  
  color :transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  
  cursor: pointer;
}
.actions > div:nth-child(2) {
  left: 30%;
}
.actions > div:nth-child(3) {
  left: 60%;
}
.actions > div:nth-child(4) {
  left: 90%;
}

.actions > div:hover {
  -webkit-text-stroke-width: 0;
  color: rgb(0, 0, 0) !important;
}

.info {
  font-size: 100% !important;
}
.info:after {
  font-size: 1.7em;
  content: 'i';
  font-family: Consolas !important;
  
  color: #fff;
  -webkit-text-stroke-width: 0;
  
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 2px 11px;
}
.info:hover:after {
  background-color: black;
}

.item:hover > .portrait:after {
  border: 1px solid rgba(116,226,21, 1);
  box-shadow: 0 0 3px rgba(116,226,21, .5);
}

.item{
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  float: left;
  width: 98%;
  height: 6em;
  padding: 1px 0;
  background-color: white;
  z-index: 3;
  overflow: hidden;
  border-radius: 5%;
  margin-top: 5px;
  border: 3px solid #48c9b0;
}

input:checked + .item {
  background-color: white; 
  padding-top: 0px;
  /* border-top: 1px solid rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
  /* border-left: 1px solid rgba(0, 0, 0, 0.5); */
  /* border-right: 1px solid rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
}

input:checked + .item > .details {
  top: -6em;
  z-index: 2;
}

.results-page{
  float: right;
  width: 900px;
  height: 800px;
  /* margin-left: 415px */
  /* border: 1px solid black; */
  /* overflow: scroll; */
}

/* #parent_div_2{
  height: 150px;
} */

.player-card-result-1{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/kusal-1.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-2{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/kperera-3.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-3{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/dds.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-4{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/tharanga-2.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-5{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/mathews-5.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-6{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/dickwella.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-7{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/DG.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-8{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/dc.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-9{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/thiri.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-10{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/thisara.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}
.player-card-result-11{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/Priyanjan.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}

.player-card-result-15{
  background: linear-gradient(to bottom, transparent 0%, white 100%), url("../../assets/images/kamindu.jpg") no-repeat center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  background-size: cover; 
  height: 150px;
  display: block;
}
.results-image{
  width: 100px;
  margin-left:350px; 
}

.round{
  border-radius: 50%;
  /* margin-left: -2px; */
}

.results-title{
  margin-left: 300px;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-align: center;
}

.results-info{
  margin-left: 300px;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: center
}
.score-info{
  margin-left: 370px;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: center
}

#pointdisplay {
  font-size: 100px;
  height: 300px;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#pointdisplay .pointer {
  width: 150px;
  height: 150px;
  position: absolute;
  transform-origin: 100% 100%;
}

#pointdisplay .cover {
  position: absolute;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  background-color: white;
}

#pointdisplay p {
  background: linear-gradient(to right, #0A6E78 20%, #3CD2DC 80%), #222;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 200px;
  text-align: center;
  font-family: 'Fjalla One';
  width: 200px;
  height: 200px;
  margin: 50px 0 0 50px;
  border-radius: 50%;
  position: relative;
  box-shadow: 64;
  border: 1px solid wheat;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
  color: #444;
}


.three-scores {
  display: flex;
  font-family: 'Oswald', sans-serif !important;
  text-align: center !important;
}

.three-scores-1:hover,.three-scores-2:hover,.three-scores-3:hover, .three-scores-4:hover {
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
}
.three-scores > div {
  flex: 1; /*grow*/
}

.three-score{
  background: linear-gradient(to right, #0A6E78 20%, #3CD2DC 80%), #222;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* line-height: 200px; */
  text-align: center;
  font-family: 'Oswald', sans-serif;
  /* width: 200px; */
  /* height: 200px; */
  /* margin: 50px 0 0 50px; */
  /* border-radius: 50%; */
  /* position: relative; */
  /* box-shadow: 64; */
}

#overflow-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#overflow-style::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#overflow-style::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.score-display{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

}

#P-3 {
  background-image: url(../../assets/images/3.png);
  width: 80px;
    height: 80px;
    top: -16px;
}
#P-1 {
  background-image: url(../../assets/images/1.png);
  width: 80px;
    height: 80px;
    top: -16px;
}
#P-2 {
    background-image: url(../../assets/images/2.png);
    width: 80px;
    height: 80px;
    top: -16px;
}
#P-4 {
    background-image: url(../../assets/images/4.png);
    width: 80px;
    height: 80px;
    top: -16px;
}
#P-5 {
    background-image: url(../../assets/images/5.png);
    width: 80px;
    height: 80px;
    top: -16px;
}
#P-6 {
    background-image: url(../../assets/images/6.png);
    width: 80px;
    height: 80px;
    top: -16px;
}
#P-7 {
    background-image: url(../../assets/images/7.png);
    width: 80px;
    height: 80px;
    top: -16px;
}
#P-8 {
    background-image: url(../../assets/images/8.png);
    width: 80px;
    height: 80px;
    top: -16px;
}
#P-9 {
    background-image: url(../../assets/images/9.png);
    width: 80px;
    height: 80px;
    top: -16px;
}
#P-10 {
    background-image: url(../../assets/images/10.png);
    width: 80px;
    height: 80px;
    top: -16px;
}

#P-11 {
  background-image: url(../../assets/images/11.png);
  width: 80px;
  height: 80px;
  top: -16px;
}

#P-15 {
  background-image: url(../../assets/images/15.png);
  width: 80px;
    height: 80px;
    top: -16px;
}

.sort-select{
  width: 154px;
  right: -26px
}


@import url('https://fonts.googleapis.com/css?family=Work+Sans:800');
.css-icon {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 400px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  background: #f0821e;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: solid 1px transparent;
}
.css-icon span {
  font-size: 80%;
  text-align: center;
  display: block;
  color: white;
  text-shadow: 0px 0px 0 #cd690e 1px 1px 0 #cd690e 2px 2px 0 #cd690e 3px 3px 0 #cd690e 4px 4px 0 #cd690e 5px 5px 0 #cd690e 6px 6px 0 #cd690e 7px 7px 0 #cd690e 8px 8px 0 #cd690e 9px 9px 0 #cd690e 10px 10px 0 #cd690e 11px 11px 0 #cd690e 12px 12px 0 #cd690e 13px 13px 0 #cd690e 14px 14px 0 #cd690e 15px 15px 0 #cd690e 16px 16px 0 #cd690e 17px 17px 0 #cd690e 18px 18px 0 #cd690e 19px 19px 0 #cd690e 20px 20px 0 #cd690e 21px 21px 0 #cd690e 22px 22px 0 #cd690e 23px 23px 0 #cd690e 24px 24px 0 #cd690e 25px 25px 0 #cd690e 26px 26px 0 #cd690e 27px 27px 0 #cd690e 28px 28px 0 #cd690e 29px 29px 0 #cd690e 30px 30px 0 #cd690e 31px 31px 0 #cd690e 32px 32px 0 #cd690e 33px 33px 0 #cd690e 34px 34px 0 #cd690e 35px 35px 0 #cd690e 36px 36px 0 #cd690e 37px 37px 0 #cd690e 38px 38px 0 #cd690e 39px 39px 0 #cd690e 40px 40px 0 #cd690e 41px 41px 0 #cd690e 42px 42px 0 #cd690e 43px 43px 0 #cd690e 44px 44px 0 #cd690e 45px 45px 0 #cd690e 46px 46px 0 #cd690e 47px 47px 0 #cd690e 48px 48px 0 #cd690e 49px 49px 0 #cd690e 50px 50px 0 #cd690e 51px 51px 0 #cd690e 52px 52px 0 #cd690e 53px 53px 0 #cd690e 54px 54px 0 #cd690e 55px 55px 0 #cd690e 56px 56px 0 #cd690e 57px 57px 0 #cd690e 58px 58px 0 #cd690e 59px 59px 0 #cd690e 60px 60px 0 #cd690e 61px 61px 0 #cd690e 62px 62px 0 #cd690e 63px 63px 0 #cd690e 64px 64px 0 #cd690e 65px 65px 0 #cd690e 66px 66px 0 #cd690e 67px 67px 0 #cd690e 68px 68px 0 #cd690e 69px 69px 0 #cd690e 70px 70px 0 #cd690e 71px 71px 0 #cd690e 72px 72px 0 #cd690e 73px 73px 0 #cd690e 74px 74px 0 #cd690e 75px 75px 0 #cd690e 76px 76px 0 #cd690e 77px 77px 0 #cd690e 78px 78px 0 #cd690e 79px 79px 0 #cd690e 80px 80px 0 #cd690e 81px 81px 0 #cd690e 82px 82px 0 #cd690e 83px 83px 0 #cd690e 84px 84px 0 #cd690e 85px 85px 0 #cd690e 86px 86px 0 #cd690e 87px 87px 0 #cd690e 88px 88px 0 #cd690e 89px 89px 0 #cd690e 90px 90px 0 #cd690e 91px 91px 0 #cd690e 92px 92px 0 #cd690e 93px 93px 0 #cd690e 94px 94px 0 #cd690e 95px 95px 0 #cd690e 96px 96px 0 #cd690e 97px 97px 0 #cd690e 98px 98px 0 #cd690e 99px 99px 0 #cd690e 100px 100px 0 #cd690e 101px 101px 0 #cd690e 102px 102px 0 #cd690e 103px 103px 0 #cd690e 104px 104px 0 #cd690e 105px 105px 0 #cd690e 106px 106px 0 #cd690e 107px 107px 0 #cd690e 108px 108px 0 #cd690e 109px 109px 0 #cd690e 110px 110px 0 #cd690e 111px 111px 0 #cd690e 112px 112px 0 #cd690e 113px 113px 0 #cd690e 114px 114px 0 #cd690e 115px 115px 0 #cd690e 116px 116px 0 #cd690e 117px 117px 0 #cd690e 118px 118px 0 #cd690e 119px 119px 0 #cd690e 120px 120px 0 #cd690e 121px 121px 0 #cd690e 122px 122px 0 #cd690e 123px 123px 0 #cd690e 124px 124px 0 #cd690e 125px 125px 0 #cd690e 126px 126px 0 #cd690e 127px 127px 0 #cd690e 128px 128px 0 #cd690e 129px 129px 0 #cd690e 130px 130px 0 #cd690e 131px 131px 0 #cd690e 132px 132px 0 #cd690e 133px 133px 0 #cd690e 134px 134px 0 #cd690e 135px 135px 0 #cd690e 136px 136px 0 #cd690e 137px 137px 0 #cd690e 138px 138px 0 #cd690e 139px 139px 0 #cd690e 140px 140px 0 #cd690e 141px 141px 0 #cd690e 142px 142px 0 #cd690e 143px 143px 0 #cd690e 144px 144px 0 #cd690e 145px 145px 0 #cd690e 146px 146px 0 #cd690e 147px 147px 0 #cd690e 148px 148px 0 #cd690e 149px 149px 0 #cd690e 150px 150px 0 #cd690e 151px 151px 0 #cd690e 152px 152px 0 #cd690e 153px 153px 0 #cd690e 154px 154px 0 #cd690e 155px 155px 0 #cd690e 156px 156px 0 #cd690e 157px 157px 0 #cd690e 158px 158px 0 #cd690e 159px 159px 0 #cd690e 160px 160px 0 #cd690e 161px 161px 0 #cd690e 162px 162px 0 #cd690e 163px 163px 0 #cd690e 164px 164px 0 #cd690e 165px 165px 0 #cd690e 166px 166px 0 #cd690e 167px 167px 0 #cd690e 168px 168px 0 #cd690e 169px 169px 0 #cd690e 170px 170px 0 #cd690e 171px 171px 0 #cd690e 172px 172px 0 #cd690e 173px 173px 0 #cd690e 174px 174px 0 #cd690e 175px 175px 0 #cd690e 176px 176px 0 #cd690e 177px 177px 0 #cd690e 178px 178px 0 #cd690e 179px 179px 0 #cd690e 180px 180px 0 #cd690e 181px 181px 0 #cd690e 182px 182px 0 #cd690e 183px 183px 0 #cd690e 184px 184px 0 #cd690e 185px 185px 0 #cd690e 186px 186px 0 #cd690e 187px 187px 0 #cd690e 188px 188px 0 #cd690e 189px 189px 0 #cd690e 190px 190px 0 #cd690e 191px 191px 0 #cd690e 192px 192px 0 #cd690e 193px 193px 0 #cd690e 194px 194px 0 #cd690e 195px 195px 0 #cd690e 196px 196px 0 #cd690e 197px 197px 0 #cd690e 198px 198px 0 #cd690e 199px 199px 0 #cd690e 200px 200px 0 #cd690e 201px 201px 0 #cd690e 202px 202px 0 #cd690e 203px 203px 0 #cd690e 204px 204px 0 #cd690e 205px 205px 0 #cd690e 206px 206px 0 #cd690e 207px 207px 0 #cd690e 208px 208px 0 #cd690e 209px 209px 0 #cd690e 210px 210px 0 #cd690e 211px 211px 0 #cd690e 212px 212px 0 #cd690e 213px 213px 0 #cd690e 214px 214px 0 #cd690e 215px 215px 0 #cd690e 216px 216px 0 #cd690e 217px 217px 0 #cd690e 218px 218px 0 #cd690e 219px 219px 0 #cd690e 220px 220px 0 #cd690e 221px 221px 0 #cd690e 222px 222px 0 #cd690e 223px 223px 0 #cd690e 224px 224px 0 #cd690e 225px 225px 0 #cd690e 226px 226px 0 #cd690e 227px 227px 0 #cd690e 228px 228px 0 #cd690e 229px 229px 0 #cd690e 230px 230px 0 #cd690e 231px 231px 0 #cd690e 232px 232px 0 #cd690e 233px 233px 0 #cd690e 234px 234px 0 #cd690e 235px 235px 0 #cd690e 236px 236px 0 #cd690e 237px 237px 0 #cd690e 238px 238px 0 #cd690e 239px 239px 0 #cd690e 240px 240px 0 #cd690e 241px 241px 0 #cd690e 242px 242px 0 #cd690e 243px 243px 0 #cd690e 244px 244px 0 #cd690e 245px 245px 0 #cd690e 246px 246px 0 #cd690e 247px 247px 0 #cd690e 248px 248px 0 #cd690e 249px 249px 0 #cd690e 250px 250px 0 #cd690e 251px 251px 0 #cd690e 252px 252px 0 #cd690e 253px 253px 0 #cd690e 254px 254px 0 #cd690e 255px 255px 0 #cd690e 256px 256px 0 #cd690e 257px 257px 0 #cd690e 258px 258px 0 #cd690e 259px 259px 0 #cd690e 260px 260px 0 #cd690e 261px 261px 0 #cd690e 262px 262px 0 #cd690e 263px 263px 0 #cd690e 264px 264px 0 #cd690e 265px 265px 0 #cd690e 266px 266px 0 #cd690e 267px 267px 0 #cd690e 268px 268px 0 #cd690e 269px 269px 0 #cd690e 270px 270px 0 #cd690e 271px 271px 0 #cd690e 272px 272px 0 #cd690e 273px 273px 0 #cd690e 274px 274px 0 #cd690e 275px 275px 0 #cd690e 276px 276px 0 #cd690e 277px 277px 0 #cd690e 278px 278px 0 #cd690e 279px 279px 0 #cd690e 280px 280px 0 #cd690e 281px 281px 0 #cd690e 282px 282px 0 #cd690e 283px 283px 0 #cd690e 284px 284px 0 #cd690e 285px 285px 0 #cd690e 286px 286px 0 #cd690e 287px 287px 0 #cd690e 288px 288px 0 #cd690e 289px 289px 0 #cd690e 290px 290px 0 #cd690e 291px 291px 0 #cd690e 292px 292px 0 #cd690e 293px 293px 0 #cd690e 294px 294px 0 #cd690e 295px 295px 0 #cd690e 296px 296px 0 #cd690e 297px 297px 0 #cd690e 298px 298px 0 #cd690e 299px 299px 0 #cd690e 300px 300px 0 #cd690e 301px 301px 0 #cd690e 302px 302px 0 #cd690e 303px 303px 0 #cd690e 304px 304px 0 #cd690e 305px 305px 0 #cd690e 306px 306px 0 #cd690e 307px 307px 0 #cd690e 308px 308px 0 #cd690e 309px 309px 0 #cd690e 310px 310px 0 #cd690e 311px 311px 0 #cd690e 312px 312px 0 #cd690e 313px 313px 0 #cd690e 314px 314px 0 #cd690e 315px 315px 0 #cd690e 316px 316px 0 #cd690e 317px 317px 0 #cd690e 318px 318px 0 #cd690e 319px 319px 0 #cd690e 320px 320px 0 #cd690e 321px 321px 0 #cd690e 322px 322px 0 #cd690e 323px 323px 0 #cd690e 324px 324px 0 #cd690e 325px 325px 0 #cd690e 326px 326px 0 #cd690e 327px 327px 0 #cd690e 328px 328px 0 #cd690e 329px 329px 0 #cd690e 330px 330px 0 #cd690e 331px 331px 0 #cd690e 332px 332px 0 #cd690e 333px 333px 0 #cd690e 334px 334px 0 #cd690e 335px 335px 0 #cd690e 336px 336px 0 #cd690e 337px 337px 0 #cd690e 338px 338px 0 #cd690e 339px 339px 0 #cd690e 340px 340px 0 #cd690e 341px 341px 0 #cd690e 342px 342px 0 #cd690e 343px 343px 0 #cd690e 344px 344px 0 #cd690e 345px 345px 0 #cd690e 346px 346px 0 #cd690e 347px 347px 0 #cd690e 348px 348px 0 #cd690e 349px 349px 0 #cd690e 350px 350px 0 #cd690e 351px 351px 0 #cd690e 352px 352px 0 #cd690e 353px 353px 0 #cd690e 354px 354px 0 #cd690e 355px 355px 0 #cd690e 356px 356px 0 #cd690e 357px 357px 0 #cd690e 358px 358px 0 #cd690e 359px 359px 0 #cd690e 360px 360px 0 #cd690e 361px 361px 0 #cd690e 362px 362px 0 #cd690e 363px 363px 0 #cd690e 364px 364px 0 #cd690e 365px 365px 0 #cd690e 366px 366px 0 #cd690e 367px 367px 0 #cd690e 368px 368px 0 #cd690e 369px 369px 0 #cd690e 370px 370px 0 #cd690e 371px 371px 0 #cd690e 372px 372px 0 #cd690e 373px 373px 0 #cd690e 374px 374px 0 #cd690e 375px 375px 0 #cd690e 376px 376px 0 #cd690e 377px 377px 0 #cd690e 378px 378px 0 #cd690e 379px 379px 0 #cd690e 380px 380px 0 #cd690e 381px 381px 0 #cd690e 382px 382px 0 #cd690e 383px 383px 0 #cd690e 384px 384px 0 #cd690e 385px 385px 0 #cd690e 386px 386px 0 #cd690e 387px 387px 0 #cd690e 388px 388px 0 #cd690e 389px 389px 0 #cd690e 390px 390px 0 #cd690e 391px 391px 0 #cd690e 392px 392px 0 #cd690e 393px 393px 0 #cd690e 394px 394px 0 #cd690e 395px 395px 0 #cd690e 396px 396px 0 #cd690e 397px 397px 0 #cd690e 398px 398px 0 #cd690e 399px 399px 0 #cd690e;
}
